jsons/ping_scheduler.json
{
  "name": "ПИНГ ПО РАСПИСАНИЮ",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -80
      ],
      "id": "55c90b0c-74d3-453b-9e49-c4d1e83109c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hrcyr_XGkgeZKbbvRfcExOGwdwYmrXmFopYodSm_HYQ",
          "mode": "list",
          "cachedResultName": "ProgressLab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrcyr_XGkgeZKbbvRfcExOGwdwYmrXmFopYodSm_HYQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "teams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrcyr_XGkgeZKbbvRfcExOGwdwYmrXmFopYodSm_HYQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -80
      ],
      "id": "406f309f-e353-41fc-9878-45137c8f3fa9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fkDU3RWigSLPUM6d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -80
      ],
      "id": "3695ec21-2c89-40b7-b57f-12194243c251",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chat_id\"]}}",
        "text": "Привет! Напомню про короткий статус на сегодня 😊 Ответьте, пожалуйста, одним сообщением: 1) Что сделали 2) Что мешает 3) Что планируете до следующего раза",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -64
      ],
      "id": "1aee5689-6350-41dd-a446-5c09dfd64be6",
      "name": "Send a text message",
      "webhookId": "fe5d403d-c8a4-4fdf-a9b0-ca9f8ea2e58a",
      "credentials": {
        "telegramApi": {
          "id": "ORgEnpRvUguh7BWL",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5cf3e3f-1e24-4a05-8a6f-60f491fb844c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a63d642a7df8650546e6c6b13cf0cf149584650024e6049dfd4298614cd208f9"
  },
  "id": "GBA8xdaTn10Wf5Rv",
  "tags": []
}
